{
    "rules": {
        "func-names": 0,
        "import/no-named-as-default": 0,
        "import/no-named-as-default-member": 0,
        "no-plusplus": 0,
        "react/no-did-update-set-state": 0,
        "spaced-comment": 0
    }
}
